/* src/index.css */
@font-face {
  font-family: 'Californian FB';
  src: url('./fonts/CalifornianFB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
}
@media (max-width: 600px) {
  input, button {
    width: 100%;
    margin: 5px 0;
  }
}